<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/6ce7bb39-2445-4efb-9613-8e525a2160f9/resourcegroups/azureapiswa/providers/Microsoft.ContainerRegistry/registries/AzureReactSWAAPI20260201115808</ContainerResourceId>
    <ContainerResourceName>AzureReactSWAAPI20260201115808</ContainerResourceName>
    <Subscription>Visual Studio Enterprise Subscription</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>azurereactswaapi20260201115808.azurecr.io</RegistryUrl>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ContainerName>azurereactswaapi</ContainerName>
    <EnvironmentName>AzureReactSWAAPI-env</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://azurereactswaapi-app.politepebble-46a1c1f3.australiaeast.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <IngressTargetPort>8080</IngressTargetPort>
    <ResourceId>/subscriptions/6ce7bb39-2445-4efb-9613-8e525a2160f9/resourceGroups/azureapiswa/providers/Microsoft.App/containerApps/azurereactswaapi-app</ResourceId>
    <ResourceGroup>azureapiswa</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>NetSdkAzureContainerAppLinux</_TargetId>
  </PropertyGroup>
</Project>